@import "tailwindcss";

@layer utilities {
  .dark #search input[type="text"] {
    @apply bg-brand-white-200 text-gray-900 focus:ring-blue-500 focus:border-blue-500;
  }
  /* No se puede usar @apply en pseudo-elementos, así que se mantiene CSS puro */
  .dark #search form::before {
    background-color: #111827; /* bg-gray-900 */
  }
  .dark #search button {
    @apply bg-transparent text-gray-900;
  }
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-green-100: #65e9e4;
  --color-brand-green-200: #31c3bd;
  --color-brand-green-300: #1f3641;
  --color-brand-green-400: #1a2a33;
  --color-brand-green-500: #151f26;
  --color-brand-green-600: #10161a;
  --color-brand-green-700: #0b0f0f;

  --color-brand-yellow-100: #ffc860;
  --color-brand-yellow-200: #f2b137;

  --color-brand-white-100: #dbe8ed;
  --color-brand-white-200: #a8bfc9;
  --color-brand-white-300: #7586a5;
  --color-brand-white-400: #425d81;
  --color-brand-white-500: #0f345d;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
