---
import BentoGrid from '../components/ui/BentoGrid.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="AssetBox📦 -  A community of developers, designers, and creators who are passionate about building and creating things"
	description="AssetBox is a community of developers, designers, and creators who are passionate about building and creating things"
	>
	<main class="max-w-screen-xl md:mx-auto mx-4 p-4">
		<BentoGrid/>
		<p class="text-4xl dark:text-white text-center text-balance my-20">
			You don't need to be a designer to develop <span class="text-red-500 font-semibold">beautiful interfaces</span>. Cheer up, friend! 💖
		</p>
	</main>
</Layout>
