---
import SearchBar from "../components/SearchBar.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = false;

const q = Astro.url.searchParams.get("q") ?? undefined;
console.log(q);
---

<Layout title="Search" description="Search for articles on this site">
  <main class="max-w-(--breakpoint-xl) lg:mx-auto mx-4 my-20">
    <SearchBar />
  </main>
</Layout>
