---
import Layout from "../layouts/Layout.astro";

export const prerender = false;

const q = Astro.url.searchParams.get("q") ?? undefined;
---

<Layout title="Search" description="Search for articles on this site">
  <main class="max-w-(--breakpoint-xl) lg:mx-auto mx-4 my-20">
    <div id="search"></div>
  </main>
  <script>
    document.addEventListener("astro:page-load", () => {
      // @ts-ignore
      new PagefindUI({
        element: "#search",
        showSubResults: true,
        autofocus: true,
      });
    });
  </script>
</Layout>

<style is:global>
  @reference '../../../src/styles/global.css'
    .dark #search input[type="text"] {
    @apply bg-brand-white-200 text-gray-900 focus:ring-blue-500 focus:border-blue-500;
  }
  .dark #search form::before {
    @apply !bg-gray-900;
  }
  .dark #search button {
    @apply bg-transparent! text-gray-900;
  }
</style>
