---
import Layout from "../layouts/Layout.astro";

export const prerender = false;

const q = Astro.url.searchParams.get("q") ?? undefined;
console.log(q);
---

<Layout title="Search" description="Search for articles on this site">
  <main class="max-w-(--breakpoint-xl) lg:mx-auto mx-4 my-20">
    <div id="search"></div>
  </main>
  <script>
    document.addEventListener("astro:page-load", () => {
      // @ts-ignore
      new PagefindUI({
        element: "#search",
        showSubResults: true,
        autofocus: true,
      });
    });
  </script>
</Layout>
