---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'article'> {
    title: string;
    href?: string;

}
const {title, class: estilos, href, ...rest} = Astro.props;
---


<a href={href}>
<article class={estilos} {...rest}>
    <slot name="icon"/>
    <h1 class="text-xl">{title}</h1>
</article>
</a>