---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div class="text-center mx-auto mb-16 lg:max-w-[50%]">
  <h2
    class="text-xl font-medium dark:text-brand-white-200 uppercase"
    data-pagefind-meta="title"
  >
    {title}
  </h2>
  <p class="text-lg text-balance mt-4 font-semibold dark:text-brand-white-300">
    {description}
  </p>
</div>
