---
interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
---

<div>
    <h2 data-pagefind-meta="title">{title}</h2>
    <p>{description}</p>
</div>



<style>
    div {
        @apply text-center mx-auto mb-16 lg:max-w-[50%]
    }
    h2 {
        @apply text-xl font-medium dark:text-brand-white-200 uppercase
    }
    p {
        @apply text-lg text-balance mt-4 font-semibold  dark:text-brand-white-300
    }
</style>